//All styles can be added here.
$white : #ffffff;
$grey : #5F6368;
$darkgrey : #979797;
$lightgrey : #F6F6F3;
$black : #1E1E1E;
$brown : #512511;
$darkbrown : #220D03;
$yellow : #FFC107;
$green : #03572D;
$darkgreen: #85B223;
$blue : #80ABDA;
$lightblue : #C0DEDB;
$bgblack : #1E1E1E;
$violet : #6C42DC;
$orange : #FF7A00;

body, html{
  position: relative;
}

.content-wrapper{
  overflow: clip;
}

@layer components {
    body{
        @apply text-white text-xs sm:text-base leading-normal lg:text-lg  xxl:text-xxl font-body;
    }
    h1, .h1{
        @apply text-[22px] lg:text-[28px] xl:text-[36px] xxl:text-[128px] leading-[1.1] font-title font-bold;
    }
    h2, .h2{
      @apply text-[20px] lg:text-[24px] xl:text-[32px] xxl:text-[80px] leading-[1.1] font-title font-bold;
    }
    h3, .h3{
      @apply text-[22px] lg:text-[24px] xl:text-[26px] xxl:text-[32px] leading-[1.1] font-title font-bold; 
    }
    h4, .h4{
        @apply text-[18px] lg:text-[22px] xl:text-[26px] leading-[1.1] font-title;
    }
    h5, .h5{
        @apply text-[16px] lg:text-[18px] xl:text-[24px] leading-[1.1] font-title;
    }
    p{
        @apply mb-3 sm:mb-6;
    }
    .container{
        @apply mx-auto px-3 lg:px-4;
    }

    input[type=text], input[type=email], input[type=tel], input[type=url], input[type=number], input[type=password]{
      @apply font-body text-base text-violet border border-[#4990C0];
      width: 100%;
      padding: 12px 23px;
    }
    input[type=tel]{
        direction: ltr;
        text-align: right;
     }

    input:focus{
      outline:none!important;
      border-color: #2E2554;
    }
    input::placeholder{
        @apply text-violet font-body;
    }

   textarea{
      @apply font-body text-base text-violet border border-[#4990C0];
      width: 100%;
      height: 153px;
      padding: 12px 23px;
    }
    textarea:focus{
        outline:none!important;
        border-color: #2E2554;
    }
    textarea::placeholder{
      @apply text-violet font-body;
    }

    a{
      @apply transition-all text-white cursor-pointer underline inline-block;
      &:hover{
        @apply text-lightblue;
      }
    }

    a.read-more-button{
      @apply transition-all text-lightblue font-bold cursor-pointer no-underline inline-block border-b border-white border-dotted;
      &:hover{
        @apply text-blue;
      }
    }
    .btn{
      @apply transition-all uppercase py-[10px] px-3 text-[12px] font-bold inline-block w-[229px] max-w-full text-center cursor-pointer no-underline;
    }


    .blue-btn{
      @apply text-white bg-lightblue;
      &:hover{
        @apply text-white bg-blue;
        &.cf-btn{
          @apply text-lightblue bg-white;
        }
      }
    }
    .white-btn{
      @apply text-black bg-white border-white;
      &:hover{
        @apply text-white bg-black border-black;
      }
    }
    .menu-button a{
      @extend .btn;
      @extend .blue-btn;
    } 

  }

  svg{
    max-width: 100%;
    height: auto;
  }

 .slick-track
 {
     display: flex !important;
 }
 
 .slick-slide
 {
     height: inherit !important;
 }

 header{
  background: linear-gradient(0deg, rgba(17, 36, 75, 0),rgb(17, 36, 75) 100%);
 }

 .hero-video{
  display: block;
  position: relative;
  & video{
    width: 100%;        
    height: auto;       
    object-fit: cover;  
    display: block; 
  }
  & .video-button{
    width: 139px;
    height: 77px;
    @apply bg-darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & svg path{
      transition: all 0.3s ease-in-out;
    }
  }
  &:hover .video-button svg path{
    fill: #0F9EFF;
  }
 }

 .content-wrapper{
  background-position: 50% -508px;
  background-repeat: no-repeat;
 }

 .hero-overlay{
  position: absolute;
  top: -1674px;
  bottom: 0;
  right: 34%;
  left: 0;
  background-image: url(../img/hero-overlay.webp);
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
 }

 .read-more-block{
  position: relative;
  padding-bottom: 50px;
  & .read-more-button{
    position: absolute;
    bottom: 0;
    &::before{
      content: url(../img/read-more-arrow.svg);
      position: absolute;
      width: 24px;
      height: 24px;
      margin-top: 3px;
      left: -25px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &.open .read-more-button::before{
    transform: translateY(-50%) rotate(180deg);
  }
 }


  .read-more-hidden {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
  }

  .read-more-visible {
    max-height: 1000px; 
    transition: max-height 0.5s ease;
  }

.team-member-wrap{
  background-color: #3E669C;
  display: flex;
  align-items: center;
  border-left: 7px solid #0F9EFF;
  & .team-member-avatar{
    width: 140px;
    height: 140px;
  }
  & .team-member-data{
    padding-right: 30px;
    width: calc(100% - 140px);
  }
  & .team-member-name{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 4px;
  }
  & .team-member-position{
    margin-bottom: 8px;
  }
}

.data-member{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 1440px;
  transform: translate(-50%, -350%);
  transition: all 0.8s ease-in-out;
  &.open{
    transform: translate(-50%, -50%);
  }
  & .data-member-wrap{
    background-color: #fff;
    width: 100%;
    padding: 30px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #11244B;
    max-height: 75vh;
    overflow-y: auto;
    & .data-member-close{
      position: absolute;
      top: 22px;
      left: 22px;
      background-color: #0F9EFF;
      width: 34px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      cursor: pointer;
    }
    & .data-member-avatar{
      width: 100%;
      & img{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
      }
    }
    & .data-member-details{
      width: 100%;
    }
    & .data-member-name{
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 18px;
      text-align: center;
    }
    & .data-member-position{
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 16px;
      text-align: center;
    }
    & .data-member-bio{
      font-size: 14px;
      margin-bottom: 44px;
      max-width: 863px;
    }
    & .data-member-buttons{
      display: flex;
      column-gap: 51px;
    }
    & .data-member-button{
      display: flex;
      align-items: center;
      column-gap: 15px;
      font-weight: 600;
      font-size: 16px;
      color: #0F9EFF;
    }
  }
}

.projects-img{
  float: left;
  margin-right: 45px;
  margin-bottom: 30px;
}

.project-slide{
  background-color: #fff;
  padding: 24px;
  width: 100%;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  & .project-img{
    width: 100%;
    margin-bottom: 24px;
  }
  & .project-data{
    width: 100%;
    & .project-title{
      font-weight: 700;
      font-size: 26px;
      color: #11244B;
      letter-spacing: 0.1em;
      margin-bottom: 32px;
      text-align: center;
    }
    & .project-desription{
      color: #000;
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 20px;
      max-width: 662px;
    }
  }
}

.projects-prev-button{
  display: none;
}

.projects-next-button{
  display: none;
}

.slick-dots li button::before{
  color: #3E669C;
  font-size: 40px;
}

#articles{
  & .article-item{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0s ease-in-out, visibility 0s linear 0s;
    height: 0;
    &.active{
      height: auto;
      visibility: visible;
      opacity: 1;
      transition: opacity 0.5s ease-in-out, visibility 0s linear 0s;
      z-index: 10;
    }
  }
  & .article-title{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 13px;
  }
  & .article-thumbnail{
    width: 100%;
    margin-bottom: 30px;
    padding-top: 30px;
    & img{
      margin-left: auto;
      margin-right: auto;
    }
  }
  & .article-data{
    width: 100%;
  }
  & .article-link a{
    display: flex;
    align-items: center;
    line-height: 27px;
    text-decoration: none;
    position: relative;
    border-bottom: 1px dotted #fff;
    width: fit-content;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1em;
    & svg{
      padding-top: 3px;
      margin-left: -5px;
      & path{
        transition: all 0.15s ease-in-out;
      }
    }
    &:hover svg path{
      stroke: #0F9EFF;
    }
  }
  & .articles-menu{
    & ul{
      display: flex;
      flex-wrap: wrap;
      row-gap: 15px;
      column-gap: 60px;
      & li{
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        transition: all 0.15s ease-in-out;
        & a{
          text-decoration: none;
          color: #0F9EFF;
          padding-top: 13px;
          padding-bottom: 13px;
          font-size: 22px;
          font-weight: 700;
        }
        &.active{
          border-color: #fff;
          & a{
            color: #fff;
          }
        }
        &:hover{
          border-color: #fff;
          & a{
            color: #fff;
          }
        }
      }
    }
  }
}

.footer-links{
  & .footer-email{
    & a{
      color: #11244B;
      font-size: 18px;
      font-weight: 900;
      text-decoration: none;
      display: flex;
      align-items: center;
      &:hover{
        color: #0F9EFF;
      }
      &:before{
        content: url(../img/footer-email-icon.svg);
        padding-left: 14px;
      }
    }
  }
  & .footer-address{
    & a{
      color: #11244B;
      font-size: 18px;
      font-weight: 900;
      text-decoration: none;
      display: flex;
      align-items: center;
      &:hover{
        color: #0F9EFF;
      }
      &:before{
        content: url(../img/footer-address-icon.svg);
        padding-left: 14px;
      }
    }
  }
}

ul.numbered{
  margin: 0 0 48px;
  padding: 0;
  list-style: none;
  counter-reset: item;
  & li{
    position: relative;
    padding-right: 57px;
    margin-bottom: 1.5rem;
    &:before{
      content: counter(item);
      counter-increment: item;
      position: absolute;
      right: 0;
      top: -6px;
      color: #11244B;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #fff;
      font-size: 18px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

#before-after-slider {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none; 
}

#after-image {
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none;
}

#after-image img{
  -webkit-user-select: none;
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none;
}

#before-image {
  -webkit-user-select: none;
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none;
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2;
}
#before-image img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: auto;
  max-width: unset;
  -webkit-user-select: none;
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none;
}

#resizer {
  -webkit-user-select: none;
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 5;
  top: 0;
  left: 50%;
  height: 100%;
  width: 5px;
  background: #0F9EFF;
  /*Stop vertical scrolling on touch*/
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

#resizer:after {
  background: #fff;
  content: url(../img/slider-arrows.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0F9EFF;
  position: absolute;
  margin: 0 -22px 0 -22px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none;
}

.project-details{
  display: none;
  &.active{
    display: block;
  }
}

.projects-menu{
  & ul{
    display: flex;
    column-gap: 15px;
    justify-content: center;
    & li{
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      & a{
        text-decoration: none;
        font-size: 1.5em;
        font-weight: 700;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      &.active {
        border-color: #0F9EFF;
        & a{
          color: #0F9EFF;
        }
      }
    }
  }
}