$white : #ffffff;
$grey : #5F6368;
$darkgrey : #979797;
$lightgrey : #F6F6F3;
$black : #1E1E1E;
$brown : #512511;
$darkbrown : #220D03;
$yellow : #FFC107;
$green : #03572D;
$darkgreen: #85B223;
$blue : #80ABDA;
$lightblue : #C0DEDB;
$bgblack : #1E1E1E;
$violet : #6C42DC;
$orange : #FF7A00;
$gold : #AD954F;



@media screen and (min-width: 480px){

 
}


@media screen and (min-width: 640px){
  .contact-slider-prev{
    position: absolute;
    bottom: 55px;
    right: 110px;
    cursor: pointer;
    z-index: 99;
  }

  .contact-slider-next{
    position: absolute;
    bottom: 56px;
    right: 78px;
    cursor: pointer;
    z-index: 99;
  }
  #buttons{
    position: fixed;
    z-index: 50;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(235px);
    & .termin-buchen{
      display: flex;
      background-color: #3F4857;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      align-items: center;
      width: 300px;
      padding-top: 9px;
      padding-bottom: 9px;
      padding-left: 18px;
      margin-bottom: 4px;
      & .buttons-icon{
        width: 44px;
      }
      & .buttons-link{
        & a{
          font-size: 14px;
          color: #fff;
          font-weight: 500;
        }
      }
      &:hover{
        transform: translateX(-235px);
      }
    }
    & .rezept-bestellen{
      display: flex;
      background-color: #CB9597;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      align-items: center;
      width: 300px;
      padding-top: 9px;
      padding-bottom: 9px;
      padding-left: 18px;
      margin-bottom: 4px;
      & .buttons-icon{
        width: 44px;
      }
      & .buttons-link{
        & a{
          font-size: 14px;
          color: #fff;
          font-weight: 500;
        }
      }
      &:hover{
        transform: translateX(-235px);
      }
    }
    & .sprechstunden{
      display: flex;
      flex-wrap: wrap;
      background-color: #EFD8D4;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      align-items: center;
      width: 300px;
      padding-top: 11px;
      padding-bottom: 11px;
      padding-left: 18px;
      & .buttons-icon{
        width: 44px;
      }
      & .buttons-data{
        font-size: 13px;
        line-height: 22px;
        height: 0;
        overflow: hidden;
        //transition: all 0.8s ease-in-out;
        & a {
          @apply text-black;
          & svg {
            display: inline-block;
            & path{
              fill:#3F4857;
              @apply transition-all;
            }
          }
          &:hover{
            @apply text-white;
            & svg path{
              fill:#fff;
            }
          }
        }
      }
      &:hover{
        transform: translateX(-235px);
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom-right-radius: 50px;
        & .buttons-data{
          height: auto;
          padding-top: 15px;
          padding-left: 15px;
          padding-right: 15px;
        }
        & .buttons-icon{
          width: 100%;
          & img{
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
  #appointment{
    padding-top: 80px;
    & .eresept-img{
      position: absolute;
      top: 80px;
      left: 12%;
    }
    & .Terminbuchung-img{
      position: absolute;
      bottom: -80px;
      right: -30px;
    }
  }
}

@media screen and (min-width: 768px){
  .home-slider{
    & .slide-item{
      min-height: 700px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      & .slide-data{
        color: #fff;
        font-size: 42px;
      }
    }
  }
  .benefits-slider-left-transparence{
    background: linear-gradient(270.00deg, rgba(247, 235, 233, 0),rgba(247, 235, 233, 1) 100%);
    position: absolute;
    left: 0;
    top: 0; 
    bottom: 0;
    width: 166px;
  }

  .benefits-slider-right-transparence{
    background: linear-gradient(90.00deg, rgba(247, 235, 233, 0),rgba(247, 235, 233, 1) 100%);
    position: absolute;
    right: 0;
    top: 0; 
    bottom: 0;
    width: 166px;
  }
   #buttons{
    position: fixed;
    z-index: 50;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(235px);
    & .termin-buchen{
      width: 300px;
      padding-top: 9px;
      padding-bottom: 9px;
      padding-left: 29px;
      margin-bottom: 4px;
      & .buttons-icon{
        width: 44px;
      }
      & .buttons-link{
        & a{
          font-size: 14px;
          color: #fff;
          font-weight: 500;
        }
      }
      &:hover{
        transform: translateX(-235px);
      }
    }
    & .rezept-bestellen{
      display: flex;
      background-color: #CB9597;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      align-items: center;
      width: 300px;
      padding-top: 9px;
      padding-bottom: 9px;
      padding-left: 29px;
      margin-bottom: 4px;
      & .buttons-icon{
        width: 44px;
      }
      & .buttons-link{
        & a{
          font-size: 14px;
          color: #fff;
          font-weight: 500;
        }
      }
      &:hover{
        transform: translateX(-235px);
      }
    }
    & .sprechstunden{
      display: flex;
      flex-wrap: wrap;
      background-color: #EFD8D4;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      align-items: center;
      width: 300px;
      padding-top: 11px;
      padding-bottom: 11px;
      padding-left: 29px;
      & .buttons-icon{
        width: 44px;
      }
      & .buttons-data{
        font-size: 13px;
        line-height: 22px;
        height: 0;
        overflow: hidden;
        //transition: all 0.8s ease-in-out;
        & a {
          @apply text-black;
          & svg {
            display: inline-block;
            & path{
              fill:#3F4857;
              @apply transition-all;
            }
          }
          &:hover{
            @apply text-white;
            & svg path{
              fill:#fff;
            }
          }
        }
      }
      &:hover{
        transform: translateX(-235px);
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom-right-radius: 50px;
        & .buttons-data{
          height: auto;
          padding-top: 15px;
          padding-left: 15px;
          padding-right: 15px;
        }
        & .buttons-icon{
          width: 100%;
          & img{
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
  #appointment{
    padding-top: 80px;
    & .Rezeptbestellung-img{
      margin-left: 16px;
    }
    & .eresept-img{
      position: absolute;
      left: 12%;
    }
    & .Terminbuchung-img{
      position: absolute;
      right: 0px;
    }
  }
}

@media screen and (min-width: 992px){
  .main-menu ul{
    & li{
      & a{
        font-size: 14px;
        font-weight: 400;
        @apply text-black hover:text-pink;
      }
      &.current-menu-item a{
        @apply text-pink;
      }
    }
  }
  .contact-slider-prev{
    bottom: 85px;
  }

  .contact-slider-next{
    bottom: 86px;
  }
  #fixed-header{
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: -100%;
    transition: all 0.8 ease-in-out;
    background-color: #fff;
    z-index: 99999;
  }

  #fixed-header.fixed{
    top: 0;
  }
  #buttons{
    position: fixed;
    z-index: 50;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(235px);
    & .termin-buchen{
      width: 300px;
      padding-top: 9px;
      padding-bottom: 9px;
      padding-left: 29px;
      margin-bottom: 4px;
      & .buttons-icon{
        width: 44px;
      }
      & .buttons-link{
        & a{
          font-size: 14px;
          color: #fff;
          font-weight: 500;
        }
      }
      &:hover{
        transform: translateX(-235px);
      }
    }
    & .rezept-bestellen{
      display: flex;
      background-color: #CB9597;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      align-items: center;
      width: 300px;
      padding-top: 9px;
      padding-bottom: 9px;
      padding-left: 29px;
      margin-bottom: 4px;
      & .buttons-icon{
        width: 44px;
      }
      & .buttons-link{
        & a{
          font-size: 14px;
          color: #fff;
          font-weight: 500;
        }
      }
      &:hover{
        transform: translateX(-235px);
      }
    }
    & .sprechstunden{
      display: flex;
      flex-wrap: wrap;
      background-color: #EFD8D4;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      align-items: center;
      width: 300px;
      padding-top: 13.5px;
      padding-bottom: 13.5px;
      padding-left: 29px;
      & .buttons-icon{
        width: 44px;
      }
      & .buttons-data{
        font-size: 13px;
        line-height: 22px;
        height: 0;
        overflow: hidden;
        //transition: all 0.8s ease-in-out;
        & a {
          @apply text-black;
          & svg {
            display: inline-block;
            & path{
              fill:#3F4857;
              @apply transition-all;
            }
          }
          &:hover{
            @apply text-white;
            & svg path{
              fill:#fff;
            }
          }
        }
      }
      &:hover{
        transform: translateX(-235px);
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom-right-radius: 50px;
        & .buttons-data{
          height: auto;
          padding-top: 15px;
          padding-left: 15px;
          padding-right: 15px;
        }
        & .buttons-icon{
          width: 100%;
          & img{
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
  #appointment{
    padding-top: 130px;
    & .Rezeptbestellung-img{
      margin-left: 0;
    }
    & .eresept-img{
      position: absolute;
      left: 16%;
    }
    & .Terminbuchung-img{
      position: absolute;
      right: 0px;
    }
  }
  #home-hero{
    min-height: calc(100vh - 85px - 62px);
  }
}

@media screen and (min-width: 1200px){
  .services{
    & .service:nth-child(even){
      margin-top: 80px;
    }
      
  }
  .home-slider{
    & .slide-item{
      &.slide-1 .slide-data{
        max-width: 784px;
        left: 80px;
        margin-right: auto;
        bottom: 100px;
      }
      &.slide-2 .slide-data{
        max-width: 621px;
        right: 80px;
        margin-left: auto;
        bottom: 100px;
      }
      &.slide-3 .slide-data{
        max-width: 659px;
        margin-right: auto;
        left: 80px;
        bottom: 100px;
      }
      &.slide-4 .slide-data{
        max-width: 571px;
        right: 80px;
        margin-left: auto;
        bottom: 100px;
      }
      &.slide-5 .slide-data{
        max-width: 639px;
        margin-right: auto;
        left: 80px;
        bottom: 100px;
      }
      &.slide-6 .slide-data{
        max-width: 639px;
        margin-right: auto;
        left: 80px;
        bottom: 100px;
      }
      &.slide-7 .slide-data{
        max-width: 639px;
        margin-right: auto;
        left: 80px;
        bottom: 100px;
      }
      &.slide-8 .slide-data{
        max-width: 639px;
        margin-right: auto;
        left: 80px;
        bottom: 100px;
      }
    }
  }
  #appointment{
    & .eresept-img{
      left: 12%;
    }
  }
}


@media screen and (min-width: 1500px){
  #buttons{
    & .sprechstunden{

      padding-top: 13.5px;
      padding-bottom: 13.5px;
     }
  } 
  #appointment{
    & .eresept-img{
      left: 78px;
    }
  }
}

@media screen and (min-width: 1920px){

}